#hautdepage
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.lh1, .lh2, .lh3
{
	font-family: "arial", sans-serif;
	font-size: 13px;
	margin: 10px;
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}


.Connexion
{
	margin: 10px;
	border-color: rgb(66,133,244);
	font-weight: 700;
	line-height: 24px;
	padding-left: 12px;
	padding-right: 12px;
	color: rgba(255,255,255);
	text-decoration-style: solid;
	background-color: rgb(66,133,244);
	font-size: 13px;
}

#Corps
{
	display: flex;
	padding-top: 109px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.barrerecherche
{
	width: 544px;
	height: 39px;
	padding-top: 6px;
	font-size: 16px;
	border : 1px solid;
	border-radius: 100px;
	margin-top: 20px;
}

#Boutons
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding-top: 18px;
	font-size: 13px;
	font-family: "arial", sans-serif;
}

.b1,.b2
{
	padding: 9px;
	height: 36px;
	width: 150px;
	margin-left: 9px;
	margin-right: 9px;
}

#footer
{

}

#langue
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10px;
	color: rgba(0,0,0,0.54);
	font-size: 15px;
	font-family: arial, sans-serif;
	line-height: 40px;
	border: 1px solid;
	height: 50px;

}


#piedpage
{
	display: flex;
	flex-direction: row;
}

#leftpp
{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#rightpp
{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}